.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--bg-dark-color);
    border-radius: 10px;
    padding: 5px 10px;
    color: var(--text-light-color);
    font-size: 14px;
    gap: 10px;
    cursor: pointer;
}
