.card {
    height: 166px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

}

.card__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
   

}
.card__link {
    display: block;
    text-decoration: none;
    z-index: 2; 
    position: absolute;      
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: normal;
  

}
.card__title {
    font-style: 22px;
    font-weight: normal;
}

.card__title:hover:after {
    font: var(--fa-font-solid);
    content: "\f00e";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    position:  absolute;
    left: 100%;
    margin-left: 5px;
}
.card__like {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--dislike-color);
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 2;

} 
.card__like-active {
    color: var(--red-color);
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-color: rgba(204, 204, 204, 0.5);
    transition: background-color 0.4s linear;


}
.card:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-color: rgba(204, 204, 204, 0);
    transition: background-color 0.4s linear;

}