.popup__cat-info {
    
}
.popup__container-info {
    height: 250px;
    width: 550px;
    border-radius: 8px;
    background-color: var(--outline-color);
   
}
.popup__form-cat-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    position: relative;

}
.popup__btn-close{
    color: var(--bg-dark-color);
    background-color: transparent;
    position: absolute;
    top: -30px;
    right: -30px;
}
.popup__btn-close:hover{
    color: var(--outline-color);
}
.popup__btn-group{
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 10px;
    right: 10px;

}
.popup__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--bg-menu-color);
    border-radius: 10px;
    padding: 5px 5px;
    color: var(--bg-dark-color);
    font-size: 10px;
    gap: 10px;
    cursor: pointer;
    width: 100px;
    z-index: 2;
}
.form__cat-img{

    display: block;
    object-fit: cover;
    grid-row: span 4;
   
    height: 150px;
    width: 200px;
    
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat; 

}
.form__cat-id{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    grid-column: span 2;
    padding-right: 100px;
    padding-left: 5px;
}
.form__cat-name{
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    padding-right: 100px;
    padding-left: 5px;
    


}
.form__cat-rate{
    padding-left: 5px;
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 5px;  

}
.form__cat-like{
    position: absolute;
    top: 50px;
    right: 50px;
}
.form__cat-like:disabled {
    cursor: auto;
}

.fa-star {
 color: var(--bg-menu-color);;

}
.star-black {
    color: var(--bg-dark-color);
}
.form__cat-age{
    width: auto;
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    padding-right: 100px;
    padding-left: 5px;
}

.popup__form-cat-info input {
    overflow: hidden;
    border: none;
    background-color: var(--outline-color);
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 16px;
    color: var(--bg-dark-color);
}

.form__input-cat-id{
  
}
.form__input-cat-name{
    
}
.form__input-cat-age{
    
}
.form__cat-description{
    overflow: hidden;
    grid-column: span 3;
    grid-row: span 5;
    resize: none;
    height: 100%;
    border: none;
    background-color: var(--outline-color);
    font-family: "Arial", "Helvetica", sans-serif;
    padding: 5px;
    color: var(--bg-dark-color);
    box-sizing: border-box;

}
.unvisible {
    display: none;
}
.focus {
    outline: 1px solid var(--bg-dark-color);
    border-radius: 5px;
}