
.popup__container-info {
    height: 270px;
    width: 550px;
    border-radius: 8px;
    background-color: var(--outline-color);
   
}
.popup__form-cat-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    position: relative;

}

.form__cat-img{
    position: relative;
    grid-row: span 4;
    height: 150px;
    width: 200px;

}
.form__cat-image{
    width: 100%;
    height: 85%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat; 

}
.form__cat-link {
    position: absolute;
    bottom: 0;
    left: 0;

}
.form__cat-id{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    grid-column: span 2;
    padding-right: 100px;
    padding-left: 5px;
}
.form__cat-name{
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    padding-right: 100px;
    padding-left: 5px;
    


}
.form__cat-rate{
    padding-left: 5px;
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 5px;  

}
.form__cat-like{
    position: absolute;
    top: 50px;
    right: 50px;
}
.form__cat-like:disabled {
    cursor: auto;
}

.fa-star {
 color: var(--bg-menu-color);;

}
.star-black {
    color: var(--bg-dark-color);
}
.form__cat-age{
    width: auto;
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    padding-right: 100px;
    padding-left: 5px;
}

.popup__form-cat-info input {
    width: 100%;
    overflow: hidden;
    border: none;
    background-color: var(--outline-color);
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 16px;
    color: var(--bg-dark-color);
}

.form__cat-description{
    height: 60px;
    overflow: hidden;
    grid-column: span 3;
    resize: none;
    position: relative;
    border: none;
    background-color: var(--outline-color);
    font-family: "Arial", "Helvetica", sans-serif;
    padding: 5px;
    color: var(--bg-dark-color);
   

}
.unvisible {
    display: none;
}
.focus {
    outline: 1px solid var(--bg-dark-color);
    border-radius: 5px;
}
@media (max-width: 620px) {

    .popup__container-info {
        width: 300px; 
        height: 400px;

    }
    .popup__form-cat-info{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    } 
    .form__cat-img{
        width: 250px;
        padding-top: 20px;
    }
    .fa-star{
        font-size: 14px;
    }

    .form__cat-rate{
        gap: 4px;

    }
    .form__cat-like{
        top: 155px;
        right: 5px;
    }

    .form__cat-description {
        display: block;
        width: 250px;
        height: 70px;
    }
   
}

