.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: var( --bg-overlay-color);
    visibility: hidden;
    opacity: 0;
    transition: linear 0.2s, linear 0.2s, linear 0.2s 0.5s;
    transition-property: opacity, visibility, background-color;
    
    
}
.popup__container{
    max-width: 600px;
    background-color: var(--form-color);
    padding: 20px;
    position: relative;

}.popup__title{
    margin-top: 0;
}
.popup__close-btn{
    position: absolute;
    top: 20px;
    right: 20px;

}
.popup_active {
    visibility: visible;
    opacity: 1;
    transition: linear 0.2s, linear 0.2s;
    transition-property: opacity, visibility;
}
/* .popup__close_external {
    background-color: transparent;
    color: var(--bg-main-color);
    top: -40px;
    right: -40px;
    font-size: 30px;
} */