.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: var( --bg-overlay-color);
    visibility: hidden;
    opacity: 0;
    transition: linear 0.2s, linear 0.2s, linear 0.2s 0.5s;
    transition-property: opacity, visibility, background-color;
    
    
}
.popup__container{
    max-width: 600px;
    background-color: var(--form-color);
    padding: 20px;
    position: relative;

}.popup__title{
    margin-top: 0;
}
.popup__close-btn{
    position: absolute;
    top: 20px;
    right: 20px;

}
.popup_active {
    visibility: visible;
    opacity: 1;
    transition: linear 0.2s, linear 0.2s;
    transition-property: opacity, visibility;
}

.popup__btn-close{
    color: var(--bg-dark-color);
    background-color: transparent;
    position: absolute;
    top: -30px;
    right: -30px;
}
.popup__btn-close:hover{
    color: var(--outline-color);
}
.popup__btn-group{
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 10px;
    right: 10px;

}
.popup__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--bg-menu-color);
    border-radius: 10px;
    padding: 5px 5px;
    color: var(--bg-dark-color);
    font-size: 10px;
    gap: 10px;
    cursor: pointer;
    width: 100px;
    z-index: 2;
}
@media (max-width: 620px) {
    .popup__btn-group{
        margin: 0 47px;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .popup__btn-close{
        top: 5px;
        right: 0;
    }
}